Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
data = [4,8,15,16,23,42]
series = pd.Series(data)

In [5]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
variable = [{'A':23}, 'B', 'C', 'D','E','F', 'G', 'H', 'I', 'J']
var = pd.Series(variable)
print(var)

0    {'A': 23}
1            B
2            C
3            D
4            E
5            F
6            G
7            H
8            I
9            J
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [17]:

names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 27]
Gender =  ['Female', 'Male', 'Female']

df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'City': cities
})

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   27    Los Angeles

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer = In Pandas, a DataFrame is a two-dimensional, tabular data structure that is used to store and manipulate data. It consists of rows and columns, where each column can be of a different data type. Essentially, a DataFrame is a collection of Pandas Series, where each column is a Series. It provides a convenient way to organize and analyze structured data.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold any data type. It is like a single column of a DataFrame. A DataFrame can be thought of as a container for multiple Series

In [19]:
# Pandas series
Roll_numbers = [23, 45, 56, 36, 45, 27, 12]
Rn = pd.Series(Roll_numbers)
print(Rn)

0    23
1    45
2    56
3    36
4    45
5    27
6    12
dtype: int64

In [20]:
# Data Frame
Name = ['Siddhant', 'Rohit', 'Manju']
Coach_number = [ 'A1', 'S8', 'B9']
Seat_number = [23,56, 45]

df1 = pd.DataFrame({
    'name': Name,
    'Coach':Coach_number,
    'Seat': Seat_number
})
print(df1)

       name Coach  Seat
0  Siddhant    A1    23
1     Rohit    S8    56
2     Manju    B9    45

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are many functions, which can be useto manipulate data in a Pandas such as
head, tail, sort, apply, merge etc.

In [21]:
Name = ['Siddhant', 'Rohit', 'Manju']
Coach_number = [ 'A1', 'S8', 'B9']
Seat_number = [23,56, 45]

df1 = pd.DataFrame({
    'name': Name,
    'Coach':Coach_number,
    'Seat': Seat_number
})
print(df1)

       name Coach  Seat
0  Siddhant    A1    23
1     Rohit    S8    56
2     Manju    B9    45

In [22]:
df1.head()

       name Coach  Seat
0  Siddhant    A1    23
1     Rohit    S8    56
2     Manju    B9    45

In [23]:
df1.tail()

       name Coach  Seat
0  Siddhant    A1    23
1     Rohit    S8    56
2     Manju    B9    45

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In the context of pandas, a popular data manipulation library in Python, both Series and DataFrame are mutable, while Panel is considered deprecated and not recommended for use in recent versions of pandas.

Series: A pandas Series is mutable, meaning you can modify its elements after it has been created.

DataFrame: Similarly, a pandas DataFrame is also mutable. You can add, remove, or modify columns and rows in a DataFrame.

Panel: While Panel was a data structure in earlier versions of pandas to handle three-dimensional data,  The recommended way to handle three-dimensional data is to use MultiIndex DataFrames.

So, to summarize, Series and DataFrame are mutable, but Panel is not recommended for use in recent pandas versions.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [24]:
Name = ['Siddhant', 'Rohit', 'Manju']
Coach_number = [ 'A1', 'S8', 'B9']
Seat_number = [23,56, 45]

df1 = pd.DataFrame({
    'name': Name,
    'Coach':Coach_number,
    'Seat': Seat_number
})
print(df1)

       name Coach  Seat
0  Siddhant    A1    23
1     Rohit    S8    56
2     Manju    B9    45